*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    background-color: #6D676E;
}

/* title */
h2{
    color: #FBFFFE;
    text-align: center;
    margin: 30px 0 100px 0;
}

/* tela */
.tela{
    display: flex;
    flex-direction: column;
    width: 320px;
    background-color: #454146;
    padding: 15px 25px 10px 25px;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
}

/* button */
button{
    background-color: #1B1B1E;
    color: #FBFFFE;
    width: 80px;
    height: 80px;
    font-weight: 500;
    font-size: 16px;
}

button:nth-child(1){
    background-color: #FAA916;
}
button:nth-child(17){
    border-bottom-left-radius: .6rem;
}
button:nth-child(20){
    border-bottom-right-radius: .6rem;
}
button:nth-child(19){
    background-color: #96031A;
}
button:active{
    background-color: #FAA916;
}